body {
	padding-top: 34px;
}
/* navbar */
#top-navbar .input-group-bk {
	background-color: #eeeeee;
}

span.search-logo-box {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 4px;
	padding-left: 1px;
	height: 34px;
	display: table-cell;
	left: 1%;
	position: inherit;
	width: 20%;
}

img.login-img {
	width: 36px;
	height: 30px;
}

span.site {
	font-size: 14px;
}

a.search-btn {
	color: #fff;
	background-color: #5cb85c;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	border: 1px solid #4cae4c;
	width: 1%;
	display: table-cell;
	position: inherit;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

a.box-btn {
	cursor: pointer;
}

a.box-btn:hover, a.box-btn:link, a.box-btn:visited {
	text-decoration: none;
}

a.login-btn {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-left: 1px;
	height: 34px;
	display: table-cell;
	left: 2%;
	position: inherit;
	width: 10%;
}

@media ( max-width : 400px) {
	span.search-logo-box {
		padding-top: 1px;
		padding-bottom: 1px;
		padding-right: 4px;
		padding-left: 1px;
		height: 34px;
		display: table-cell;
		left: 1%;
		position: inherit;
		width: 30%;
	}
	span.site {
		font-size: 9px;
	}
	a.login-btn {
		padding-top: 1px;
		padding-bottom: 1px;
		padding-right: 1px;
		padding-left: 1px;
		height: 34px;
		display: table-cell;
		left: 2%;
		position: inherit;
		width: 15%;
	}
}

/* MovieDetail */
.alert.share-copyright {
	padding: 10px 10px;
}
.movie-title-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}

.tag-info {
	overflow: hidden;
	white-space: nowrap;
}

.movie-img {
	width: 210px;
	height: 270px;
}

div.detail-img-box {
	padding-right: 0px;
}

@media ( max-width : 375px) {
	div.detail-img-box {
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
		float: left;
	}
	div.detail-tag-box {
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
		float: left;
	}
	.movie-img {
		width: 100%;
		height: 100%;
	}
}
/* MovieDetail-story */
.story-header {
	padding-left: 10px;
}

.story {
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #CCC;
}

.story-body {
	padding: 8px 6px;
	border-radius: 0px 0px 4px 4px;
	border-top: 1px solid #CCC;
	color: #333;
	background-color: #f5f5f5;
	text-indent: 2em;
}
/* MovieDetail-share */
.top-margin {
	margin-top: 10px;
}


.cer-box {
	white-space: nowrap;
	text-align: center;
	background-color: #f1e0ac;
	padding: 2%;
	padding-left: 0px;
	border-radius: 6px;
	background-color: #f1e0ac;
}

.cer-normal {
	padding-left: 10px;
}

a.noline {
	text-decoration: none;
}

span.cer-uhd:before {
	content: "超清";
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
	float: right;
	color: #fbf6c0;
	background-color: #eb260f;
}

span.cer-hd:before {
	content: "高清";
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
	float: right;
	color: #fbf6c0;
	background-color: #e0741a;
}

span.cer-sd:before {
	content: "标清";
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
	float: right;
	color: #fbf6c0;
	background-color: #4caf50;
}

span.cer-bd:before {
	content: "枪版";
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
	float: right;
	color: #fbf6c0;
	background-color: #9E9E9E;
}

.find-btn {
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 10px;
}
/* MovieHome */
.feedBox > .feed-ul {
	padding-left: 10px;
	padding-right: 10px;
}
/* MovieHot */
.newly-title {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding: 5px;
}

.newly-title h4 {
	color: #06A8E9;
	font-weight: bold;
}

.time-right {
	float: right;
}

.newly-group {
	line-height: 25px;
}

.newly-group .badge {
	float: none;
}

.newly-group .list-group-item {
	padding: 8px 5px;
}

.movie-list-box {
	float: left;
	padding-left: 2px;
	padding-right: 2px;
}

.list-img {
	width: 128px;
	height: 180px;
}

@media ( max-width : 320px) {
	.list-img {
		width: 140px;
		height: 200px;
	}
}

@media ( min-width : 321px) and ( max-width : 400px) {
	.list-img {
		width: 165px;
		height: 210px;
	}
}

.name-box {
	padding-bottom: 6px;
	padding-top: 4px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/* footer */
.footer-box {
	padding: 5px;
	border-radius: 3px;
	background: #999;;
	border-top: 1px solid #666;
}

.slogan {
	text-align: center;
	line-height: 50px;
	font-weight: bolder;
	color: #ddd;
}

.stat a[title] {
	color: #999999;
	font-size: 9px;
}
/* MovieGenre */
div.list-img-box {
	padding-right: 0px;
}

div.list-tag-box {
	padding-right: 0px;
}

@media ( max-width : 375px) {
	div.list-img-box {
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
		float: left;
	}
	div.list-tag-box {
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
		float: left;
	}
}

/*MovieSearch**/
.suggest-text {
	color: red;
	font-weight: bold;
}

.link-group-left {
	padding-right: 5px;
}

.link-group-right {
	padding-left: 5px;
}

li.link-box >.left-badge {
    float: left;
    margin-right: 10px;
}

.recmd-box .recmd-badge {
	float: left;
    margin-right: 10px;
}
.recmd-box .recmd-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.target-btn {
    background-color: #439CF3;
    color: #FFF;
    float: right;
    padding: 6px 12px;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
}
a.link-title {
    margin-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
    display: block;
    float: left;
}
.icon,.icon01, .icon10, .icon12, .icon20, .icon22, .icon30, .icon32, .icon40, .icon42, .icon50, .icon52, .icon60, .icon61, .icon62, .icon70, .icon72, .x6{ 
	background-image: url(../img/file-icon.gif); 
	background-repeat: no-repeat;  
	position:absolute; 
	width:16px; 
	height:16px;
}

.x6{ background-position: -479px 0 !important; }
.icon { background-position: -416px 0; }
.icon01 { background-position: -128px 0; }
.icon10 { background-position: -224px 0; }
.icon12 { background-position: -804px 0; }
.icon20 { background-position: -193px 0; }
.icon22 { background-position: -804px 0; }
.icon30 { background-position: 0 0; }
.icon32 { background-position: -804px 0; }
.icon40 { background-position: -160px 0; }
.icon42 { background-position: -804px 0; }
.icon50 { background-position: -384px 0; }
.icon52 { background-position: -804px 0; }
.icon60 { background-position: -352px 0; }
.icon61 { background-position: -739px 0; }
.icon62 { background-position: -804px 0; }
.icon70 { background-position: -448px 0; }
.icon72 { background-position: -804px 0; }

/*jumper*/
.checking-box {
	margin-right: 0;
	margin-left: 0;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	position: relative;
	padding: 45px 15px 15px;
	border-style: solid;

}

.checking-highlight {
	margin: -15px -15px 15px;
	border-radius: 0;
    padding: 9px 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.jumpTo {
	text-decoration: underline;
}
/*search*/
.feedBox li.item-box {
    border-bottom: 1px solid #e8e8e8;
	list-style:none;  
}
.item-inner {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    height: 126px;
}
.lbox {
    position: relative;
    float: right;
}
.lbox .img-wrap {
    display: block;
    width: 130px;
    height: 90px;
    line-height: 100px;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    overflow: hidden;
}
.lbox .ftype {
	position: absolute;
    left: 4px;
    bottom: 4px;
    height: 22px;
    min-width: 6px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,.7);
    padding: 0 8px;
    border-radius: 11px;
}

.rbox {
    float: left;
    height: 90px;
    width: 168px;
    position: relative;
    overflow: hidden;
}

.rbox-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.title-box {
    margin-top: 1px;
    display: block;
    max-height: 90px;
}
.title-box a {
    color: #222;
}
.title-box .atitle {
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    font-size: 16px;
    color: #555;
    line-height: 1.3;
    font-weight: bold;
}
.title-box .atitle:hover {
    color: rgba(0, 119, 255, 0.77);
}

.tag-box {
    position: relative;
    top: 4px;
    text-overflow: ellipsis;
}
.tag-score{
	color: #e09015;
    font-weight: bold;
}
.tag-txt{
	color: rgba(85, 85, 85, 0.88);
}
.tag-size {
    padding: 1px;
    margin-right: 5px;
}

.lbtn-tag {
	border: 1px solid #eee;
    border-color: #87A5B5!important;
    color: #87A5B5!important;
    line-height: 30px;
    padding: 1px;
}

a.lbtn-tag:hover { 
	text-decoration: none;
	color: blue
}

/*detail*/
.detail-box {
	padding-left: 10px;
    padding-right: 10px;
}
.detail-title {
	font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}
.issued-share {
    height: 46px;
}
.issued-share .author {
	font-size: 16px;
    font-weight: bold;
    color: #080808;
}
.issued-share .time {
	font-size: 14px;
    color: #ccc;
}

.issued-share .issued{
	float: left;
    padding-left: 5px;
}

.share-group {
	float: right;
    position: relative;
	top: 4px;
}
.share-group > a {
	margin-left: 5px;
}

.article {
	line-height: 25px;
}
.article p {
   text-indent: 2em;
}
.digest-img,.content-img {
    height: 320px;
    width: 300px;
}
.tag-box {
	padding-top: 10px; 
    padding-bottom: 10px;
}
.tag-name {
    display: inline;
    padding: .4em .6em .4em;
    font-size: 15px;
    line-height: 1;
    color: #555;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #ddd;
    margin-right: 4px;
}

.link-box {
    margin-bottom: 10px;
    margin-top: 10px;
	padding: 45px 15px 15px;
	border-color: #e5e5e5 #eee;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}