{(mobile/decorator/header.html)}

<link rel="canonical" href="{*context.header.canonical*}"/>
<meta name="description" content="{*context.header.description*}"/>
<meta name="keywords" content="{*context.header.keywords*}" />
<meta name="title" content="{*context.header.title*}" />
<!-- <script type="text/javascript" src="{*static_host*}/assets/js/jquery.ajax-cross-origin.min.js?v={{version}}"></script>
 -->
</head>
{# end of head #}

<body>

{(mobile/decorator/navbar.html)}

<div class="main data-box">
  <div class="act">
    <div class="container">

      <div class="container-fluid">
        <div class="row">
              <div class="feedBox"> 
               <input type="hidden" id="ltime" name="ltime" value="{{data.ltime}}">
               <input type="hidden" id="offset" name="offset" value="{{data.offset}}">
               <input type="hidden" id="hasmore" name="hasmore" value="{{data.hasmore}}">
               <ul class="feed-ul">
               {%
                for i,v in ipairs(data.contents) do
                   if v.img then
                         v.img = ngx.re.sub(v.img, "http:", "https:")
                         if v.video then
                           v.img = ngx.re.sub(v.img, "/img/", "/img/515x220/")
                         else
                           v.img = ngx.re.sub(v.img, "/img/", "/img/154x100/")
                         end
                    end
                %}
                {%if v.video then%}
                     <li class="item-box">
                          <div  class="video-inner" >
                            <div class="title-box">
                                  <div class="title-num">
                                      <div class="video-title">
                                         <a href="/movie/detail/{{v.id}}.html" target="_blank" class="atitle" src="{{v.link}}">
                                           {{v.title}}
                                        </a>
                                      </div>
                                     <!--  <div class="video-stat-box">
                                             <span class="downloaded">0MB</span>/<span class="total">总大小</span>
                                      </div> -->
                                  </div>
                                <div class="progressBar" style="width: 0%;"></div>
                            </div>
                           <div class="video-box">
                               <div class="video-cover">
                                  <span class='button video-init'>
                                    <button class="button video-play"></button>
                                  </span>
                               </div>
                               <video controls data-url="/vmeta/{{v.id}}.m3u8" poster="{*v.img*}" ></video>
                           </div>
                        </div>
                      </li>
                {%else%}
                      <li class="item-box">
                       <div class="item-inner">
                          <a  href="/m/movie/detail/{{v.id}}.html"> 
                            <div class="lbox">
                                <img class="img-wrap" alt="{{v.title}}" src="{*v.img*}" /> 
                                {%if v.cost then%}
                                <i class="ftype video"> <span>{{v.cost}}</span> </i>
                                {%end%}
                            </div>
                            <div class="rbox ">
                                  <div class="rbox-inner"> 
                                      <div class="title-box"> 
                                          {{v.title}}
                                      </div>
                                  </div>
                            </div>
                          </a> 
                          <span class="item-tag-box">
                            {%if v.media then %}
                            <span class="tag-txt tag-size">{{v.media}}</span>
                            {%end%}
                            {%if v.rate then %}
                            <span class="tag-txt tag-size">评分
                               <strong class="tag-score">{{v.rate}}</strong>
                            </span>
                            {%end%}
                            {%if v.epmax then %}
                            <span class="tag-ep">第{{v.epmax}}集</span>
                            {%end%}
                        </span>  
                       </div>
                      </li>
                      {%end%}
                  {%end%}
                </ul>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{*static_host*}/assets/js/mobile/home.js?v={{version}}"></script>
<script src="{*static_host*}/assets/js/movie/stream.js?v={{version}}"></script>
{(mobile/decorator/footer.html)}