{(mobile/decorator/header.html)}

<link rel="canonical" href="{*context.header.canonical*}"/>
<meta name="description" content="{*context.header.description*}"/>
<meta name="keywords" content="{*context.header.keywords*}" />
<meta name="title" content="{*context.header.title*}" />
<!-- <script type="text/javascript" src="{{static_host}}/assets/js/jquery.ajax-cross-origin.min.js?v={{version}}"></script>
 -->
</head>
{# end of head #}

<body>

{(mobile/decorator/navbar.html)}

<div class="main data-box">
  <div class="act">
    <div class="container">

      <div class="container-fluid">
        <div class="row">
              <div class="feedBox"> 
               <input type="hidden" id="ltime" name="{{data.ltime}}">
               <input type="hidden" id="offset" name="offset" value="{{data.offset}}">
               <input type="hidden" id="hasmore" name="hasmore" value="{{data.hasmore}}">
               <ul class="feed-ul">
               {%
                for i,v in ipairs(data.contents) do
                %}
                  <li class="item-box">
                   <div class="item-inner">
                      <a  href="/m/movie/detail/{{v.id}}.html"> 
                        <div class="lbox">
                            <img class="img-wrap" alt="{{v.title}}" src="{{v.img}}" /> 
                            {%if v.cost then%}
                            <i class="ftype video"> <span>{{v.cost}}</span> </i>
                            {%end%}
                        </div>
                        <div class="rbox ">
                              <div class="rbox-inner"> 
                                  <div class="title-box"> 
                                      {{v.title}}
                                  </div>
                              </div>
                        </div>
                      </a> 
                      <span class="item-tag-box">
                        {%if v.media then %}
                        <span class="tag-txt tag-size">{{v.media}}</span>
                        {%end%}
                        {%if v.rate then %}
                        <span class="tag-txt tag-size">评分
                           <strong class="tag-score">{{v.rate}}</strong>
                        </span>
                        {%end%}
                        {%if v.epmax then %}
                        <span class="tag-ep">第{{v.epmax}}集</span>
                        {%end%}
                    </span>  
                   </div>
                  </li>
                  {%
                end
               %}
                </ul>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{static_host}}/assets/js/mobile/home.js?v={{version}}"></script>
{(mobile/decorator/footer.html)}