{(mobile/decorator/header.html)}

<link rel="canonical" href="{*context.header.canonical*}"/>
<meta name="description" content="{*context.header.description*}"/>
<meta name="keywords" content="{*context.header.keywords*}" />
<meta name="title" content="{*context.header.title*}" />
<!-- <script type="text/javascript" src="{*static_host*}/assets/js/jquery.ajax-cross-origin.min.js?v={{version}}"></script>
 -->
</head>
{# end of head #}

<body>

{(mobile/decorator/navbar.html)}

<div class="main data-box">
  <div class="act">
    <div class="container">

      <div class="container-fluid">
        <div class="row">
              <div class="feedBox"> 
               
               <ul class="feed-ul">
               {%
                for i,v in ipairs(hits.hits) do
                  local source = v;
                  local genres = source.genres;
                  local digests = source.digests;
                  local rate = source.rate
                
                  local str_cost
                  if source.cost then
                     local minute = math.modf(source.cost / 60)
                     local hour = minute / 60
                     str_cost =  math.modf(hour) .. ":" .. math.fmod(minute, 60 ) .. ":00"
                  end
                  local str_img
                  if digests then
                     for _,v in ipairs(digests) do
                        str_img = v
                        str_img = ngx.re.sub(str_img, "[%.]webp", ".jpg")
                        str_img = ngx.re.sub(str_img, "http:", "https:")
                        if v.media == 1 then
                           str_img = ngx.re.sub(str_img, "/img/", "/img/515x220/")
                        end
                     end
                  end
                  if v.media == 1 then
                  %} 
                   <li class="item-box">
                        <div  class="video-inner" >
                          <div class="title-box">
                                <div class="title-num">
                                    <div class="video-title">
                                       <a href="/movie/detail/{{v.id}}.html" target="_blank" class="atitle" >
                                         {{v.title}}
                                      </a>
                                    </div>
                                </div>
                              <div class="progressBar" style="width: 0%;"></div>
                          </div>
                         
                          <div class="video-box">
                             <video  data-url="/vmeta/{{v.id}}.info" poster="{*str_img*}" ></video>
                           
                          </div>
                      </div>
                    </li>
                  {%
                  else
                  %}
                  <li class="item-box">
                   <div class="item-inner">
                      <a  href="/m/movie/detail/{{v.id}}.html"> 
                        <div class="lbox">
                            <img class="img-wrap" alt="{{v.title}}" src="{*str_img*}" /> 
                            {%if str_cost then%}
                            <i class="ftype video"> <span>{{str_cost}}</span> </i>
                            {%end%}
                        </div>
                        <div class="rbox ">
                              <div class="rbox-inner"> 
                                  <div class="title-box"> 
                                      {{v.title}}
                                  </div>
                              </div>
                        </div>
                      </a> 
                      <span class="item-tag-box">
                        {%if v.sortName then %}
                        <span class="tag-txt tag-size">{{v.sortName}}</span>
                        {%end%}
                        {%if rate then %}
                        <span class="tag-txt tag-size">评分<strong class="tag-score">{{rate}}</strong></span>
                        {%end%}
                    </span>  
                   </div>
                  </li>
                  {%
                  end
                end
               %}
                </ul>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{*static_host*}/assets/js/movie/stream.js?v={{version}}"></script>

{(mobile/decorator/footer.html)}