<!DOCTYPE html>
<html>
<head>
  <title>狸猫资讯 &raquo; 关于</title>
  {(meta.html)}
</head>
<body data-controller-name="sessions">
{(header.html)}

<div id="main" class="main-container container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">关于</div>
                <div class="panel-body">
                   <div class="panel-body markdown">
                        <article>
                            <h2 id="这里是 狸猫资讯">这里是 狸猫资讯</h2>
                            <ul>
                                <li>分享生活乐趣，互相学习共同进步<br></li>
                                <li>欢迎原创文章，也欢迎各种技术交流</li>
                            </ul>
                            <p>狸猫资讯致力于分享生活乐趣和学习技巧，学习和实践个性化推荐、深度学习等AI技术。</p>
                            <p>狸猫资讯致力于提高推荐内容质量，部分内容可能含有广告，非本站添加请不要轻信。</p>
                            <p>狸猫资讯官方域名为Lezomao.com，欢迎大家共同学习，宗旨是：予你所求，为你所用。</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        APP.Common.resetNav("nav-about");
    });
</script>
{(footer.html)}
</body>
</html>
