{(decorator/header.html)}

<link rel="canonical" href="{*context.header.canonical*}"/>
<meta name="description" content="{*context.header.description*}"/>
<meta name="keywords" content="{*context.header.keywords*}" />
<meta name="title" content="{*context.header.title*}" />

</head>
{# end of head #}

<body>

{(decorator/navbar.html)}
{(decorator/blankbar.html)}


<div class="main data-box">
	<div class="act">
		<div class="container">
		<ol class="breadcrumb">
		{% for index, oLink in ipairs(crumbs) do %}
		   {% if oLink.link then %}
		    <li><a href="{{oLink.link}}">{{oLink.name}}</a></li>
		   {% else %}
		    <li><span>{{oLink.name}}</span></li>
		   {% end %}
		    
		{% end %}
        <li class="active"><strong>{{title}}</strong></li>
      </ol>

      <div class="container-fluid video-detail">
					<div class="top-margin">
						  <div class="movie-right">
							      <ul class="list-group">
								    <li class="list-group-item">
										    <h1 class="movie-title-margin">
											  {{title}}
										      <span class="badge movie-badge">{{year}}</span>
										    </h1>
								    <li class="list-group-item tag-info">
								       <strong>导演：</strong>
								       {% local directors = directors or {}; %}
								       {* table.concat(directors,' ') *}
								    </li>
								    <li class="list-group-item tag-info">
								       <strong>主演：</strong>
								       {%
								         local actors =  actors or {} 
								         local suffix = ""
										 if #actors > 10 then
										   local inputs = actors
										   actors = {}
										   local max = 8
										   for i=1, max do
												table.insert(actors, inputs[i])
										   end
										   suffix = "..."
										 end
								       %}
								       {*  table.concat(actors,'、') .. suffix *}
								    </li>
								    <li class="list-group-item tag-info">
								      <strong>类型：</strong>
								      {% local genres =  genres or {} %}
								      {*   table.concat(genres,' ') *}
								    </li>
								    <li class="list-group-item tag-info">
								    	<strong>上映：</strong>
								        {%
								          local issueds = issueds or {};
								          local countrys = countrys or {};
								          for i,v in ipairs(issueds) do
											 if i > 1 then 
											  %}  &nbsp  {%
											 end 
											 local issued = v;  
											 if string.len(tostring(issued)) > 10 then 
											    issued = math.modf( issued / 1000)  
											 end 
											 %} {{countrys[i]}}( {* os.date("%Y-%m-%d",issued) *}) {%
										   end 
										%}
								    </li>
								  </ul>
					       </div>
				      
						  <div class="movie-left">
						       {%
						          local digests = digests
								  local str_img
				                  if digests then
				                     for _,v in ipairs(digests) do
				                        str_img = v
			                            str_img = ngx.re.sub(str_img, "[%.]webp", ".jpg")
			                            str_img = ngx.re.sub(str_img, "http:", "https:")
			                            break
				                     end
				                  end
				                  if str_img and not string.match(str_img,"^http") then
		                            str_img = '/img/' .. str_img
		                            str_img = ngx.re.sub(str_img, "http:", "https:")
		                          end
		                          if media == 1 then
			                           str_img = ngx.re.sub(str_img, "/img/", "/img/515x220/")
			                       else
			                           str_img = str_img
			                       end
						     
		                        if media == 1 then
		                         %}
		                            <div  class="video-inner" >
				                        <div class="title-box">
				                            <div class="progressBar" style="width: 0%;"></div>
				                        </div>
				                        <div class="video-box">
				                           <video data-url="/vmeta/{*id*}.m3u8" poster="{*str_img*}" ></video>	
				                           <svg class="video-play-btn" viewBox="0 0 200 120" alt="Play video">
											    <circle cx="100" cy="30" r="60" fill="none" stroke-width="12" stroke="#fff"></circle>
											    <polygon points="80, 0 80, 60 130, 30" fill="#fff"></polygon>
										   </svg>
				                       </div>
				                    </div>
		                         {%
		                        else 
		                         %} 
		                          	<img src="{{str_img}}" class="img-thumbnail movie-img" alt="{{title}}"/>
		                         {%
		                        end
		                    %}
					      </div>
					    </div> 
				</div>
			</div>
		</div>

       <input type="hidden" id="did" name="did" value="{{id}}">
       <input type="hidden" id="title" name="title" value="{{title}}">
        {% if albumId then %}
		    <input type="hidden" id="albumId" name="albumId" value="{{albumId}}">
		    <input type="hidden" id="epindex" name="epindex" value="{{epindex}}">
		{% end %}
       <div class="container top-margin">
		   <div class="story">

				<div class="story-header">
				<div class="share-group">
				                {%

				                  local directors =  directors or {}; 
				                  local content = ""
				                  local sortName = sortName or ""
								  if directors and directors[1] then
								     content = directors[1] .. "导演的"
									 content = content .. sortName
								  end
							      content = content .. "《" .. title .."》"
				                  if douban and douban.rate then
				                       local rate = douban.rate
				                       content = content .. ",豆瓣评分" .. rate;
				                  end
				                  if  cost then
					                   content = content .. ",约" .. cost .."分钟";
				                  end
								  content = content .. "，免费资源为你所用."
								  local encode_title = string.encodeURI(content)
				                %}
                                <a href="http://service.weibo.com/share/share.php?appkey={*config.weibo_app_key*}&amp;url={*header.canonical*}&amp;title={{encode_title}}&amp;pic={{str_img}}&amp;ralateUid={*config.weibo_uid*}&amp;source=狸猫资讯&amp;sourceUrl=http%3A%2F%2Fwww.lezomao.com&amp;content=utf8&amp;searchPic=false&amp;uid={*config.jiathis_uid*}"><img src="{*static_host*}/assets/img/share_sina.png"></a>
                                <a href="http://www.jiathis.com/send/?webid=tqq&amp;url={*header.canonical*}&amp;title={{encode_title}}&amp;pic={{str_img}}&amp;uid={*config.jiathis_uid*}"><img src="{*static_host*}/assets/img/share_tengwb.png"></a>
                                <a href="http://www.jiathis.com/send/?webid=weixin&amp;url={*header.canonical*}&amp;title={{encode_title}}&amp;pic={{str_img}}&amp;uid={*config.jiathis_uid*}"><img src="{*static_host*}/assets/img/share_wx.png"></a>
                                <a href="http://www.jiathis.com/send/?webid=weixin&amp;url={*header.canonical*}&amp;title={{encode_title}}&amp;pic={{str_img}}&amp;uid={*config.jiathis_uid*}"><img src="{*static_host*}/assets/img/share_friend.png"></a>
                                <a href="http://www.jiathis.com/send/?webid=renren&amp;url={*header.canonical*}&amp;title={{encode_title}}&amp;pic={{str_img}}&amp;uid={*config.jiathis_uid*}"><img src="{*static_host*}/assets/img/share_renren.png"></a>
                        </div>
					  <h4 class="head-title">剧情介绍
					  </h4>
				</div>
				<div class="story-body">
				  <p>{{html}}</p>
				 </div>
			</div>
		</div>

		<div class="container" >
			  <div class="row">
			    <div class="col-md-8 link-group-left">
			  <!--     <div class="epcmds">
			      	<div class="epcmd all" >全部</div>
			      	<div class="epcmd newest" >最新</div>
			      	<div class="epcmd epnum" >01</div>
			      	<div class="epcmd epnum" >02</div>
			      </div> -->
				  <ul class="list-group">
						  <span class="link-no-more">
	 				          <input type="hidden" id="curPage" name="curPage" value="0">
							  <li class="list-group-item" >
							  </li> 
						 </span>
				  </ul>
			    </div>
			    <div class="col-md-4 link-group-right">
		 		  <ul class="list-group recmd-box">
		 		    {%
		 		      local count = 0
		 		      for k,v in pairs(recmd_map) do
		 		             count = count + 1
		 		             local str_index = tostring(count)
				             if count < 10 then
				                str_index = "0" .. str_index
				             end 
							 %}  
							 <li class="list-group-item">
							  <span class="badge recmd-badge">{{str_index}}</span>
							   <a href="/movie/detail/{{k}}.html" class="recmd-title">{{v.title}}</a> 
							 </li>
							 {%
					  end
					  if count < 1 then
					    %} <li class="list-group-item">暂无推荐</li> {%
					  end
		 		    %}
				   </ul>
			    </div>

		</div>

</div>

<script src="{*static_host*}/assets/js/custom/urlcodesc.js?v={{version}}"></script>
<script src="{*static_host*}/assets/js/movie/detail.js?v={{version}}"></script>
<script src="{*static_host*}/assets/js/movie/stream.js?v={{version}}"></script>


{(decorator/footer.html)}