{(decorator/header.html)}

<link rel="canonical" href="{*context.header.canonical*}"/>
<meta name="description" content="{*context.header.description*}"/>
<meta name="keywords" content="{*context.header.keywords*}" />
<meta name="title" content="{*context.header.title*}" />
<!-- <script type="text/javascript" src="{*static_host*}/assets/js/jquery.ajax-cross-origin.min.js?v={{version}}"></script>
 -->
</head>
{# end of head #}

<body>

{(decorator/navbar.html)}
{(decorator/blankbar.html)}

<div class="main data-box">
  <div class="act">
    <div class="container">

      <div class="container-fluid">
        <div class="row">
              <div class="col-md-2"> </div>
              <div class="col-md-6 feedBox">
               <input type="hidden" id="ltime" name="ltime" value="{{data.ltime}}">
               <input type="hidden" id="offset" name="offset" value="{{data.offset}}">
               <input type="hidden" id="hasmore" name="hasmore" value="{{data.hasmore}}">



               <ul class="feed-ul">





               {% if not data or not data.contents or #data.contents < 1 then %}
                  <li class="item-box">暂无内容推荐</li>
               {% else
                  for i,v in ipairs(data.contents) do
                     if v.img then
                         v.img = ngx.re.sub(v.img, "http:", "https:")
                         if v.video then
                           v.img = ngx.re.sub(v.img, "/img/", "/img/515x220/")
                         else
                           v.img = ngx.re.sub(v.img, "/img/", "/img/154x100/")
                         end
                     end
                  %}
                 {%if v.video or v.media == 1 then%}
                   <li class="item-box">
                      <div  class="video-inner" >
                        <div class="title-box">
                            <div class="row">
                                <div class="col-md-8">
                                  <a href="/movie/detail/{{v.id}}.html" target="_blank" class="atitle"  src="{{v.link}}">
                                      {{v.title}}
                                  </a>
                                </div>
                            </div>
                            <div class="progressBar" style="width: 0%;"></div>
                        </div>

                         <div class="video-box">
                               <video data-url="/vmeta/{{v.id}}.info" poster="{*v.img*}" ></video>
                         </div>
                    </div>
                  </li>
                 {%else%}
                  <li class="item-box">
                   <div class="item-inner">
                      <div class="lbox">
                        <a class="img-wrap" target="_blank" href="/movie/detail/{{v.id}}.html">
                          <img alt="{{v.title}}" src="{*v.img*}" />
                          {%if v.cost then%}
                          <i class="ftype video"> <span>{{v.cost}}</span> </i>
                          {%end%}
                        </a>
                      </div>
                      <div class="rbox ">
                            <div class="rbox-inner">
                                <div class="title-box">
                                    <a class="atitle" target="_blank" href="/movie/detail/{{v.id}}.html"> {{v.title}}
                                    </a>
                                </div>
                                <div class="tag-box">
                                 {% if v.genres then %}
                                    {% for i,v in ipairs(v.genres) do  %}
                                      <a target="_blank" class="lbtn-tag tag-size"
                                      href="/movie/genre/{*string.encodeURI(v)*}.html">{{v}}</a>
                                    {% end  %}
                                  {% end %}
                                  {%if v.rate then %}
                                  <span class="tag-score tag-size">评分{{v.rate}}</span>
                                  {%end%}
                                  {%if v.epmax then %}
                                  <span class="tag-ep">第{{v.epmax}}集</span>
                                  {%end%}
                                </div>
                            </div>
                      </div>
                   </div>
                  </li>
                  {%end%}
                  {%
                    end
                end
               %}
                </ul>
              </div>

              <div class="col-md-4 ">
                <div class="wx-mp-box">
                    <h4 class="wx-mp-txt">微信<span style="color: blue;">扫一扫关注</span>公众号</h4>
                    <div class="wx-mp-img">
                      <img width="220px" height="220px" src="/assets/img/wx-mp-qrcode.jpg" alt="关注微信公众号" class="img-rounded">
                    </div>
                </div>
                <!-- <div class="video-share-box">
                    <div class="video-upload">
                        <h4>拖动视频到这或双击选择视频上传</h4>
                        <div class="row video-upload-msg">
                           <div class="col-md-4">
                              <div id="upload-count">0</div>
                            </div>
                            <div class="col-md-8 col-log">
                              <div id="upload-log">欢迎上传</div>
                            </div>
                        </div>
                    </div>
                    <div id="video-share-target">
                      上传磁力网络，即可在线播放
                    </div>
                </div> -->

                <div class="msgbox">
                  <div class="playing-head"> 正在热播 </div>
                  <ul class="playing-list">
                    {%
                      local playing_movie = context.playing_movie.hits;
                      for _,v in ipairs(playing_movie) do
                          local source = v._source;
                          local genres = source.genres;
                          local digests = source.digests;
                          local evaluate = source.douban;
                          local rate = 0
                          local comment = 0
                          if evaluate then
                               rate = evaluate.rate
                               comment = evaluate.comment
                          end
                          local str_cost
                          if source.cost then
                             local lcost = math.floor(source.cost / 60 )
                             str_cost =  math.modf(lcost / 60) .. ":" .. math.fmod(lcost, 60) .. ":00"
                          end
                          local str_img
                          if digests then
                             for _,v in ipairs(digests) do
                                 str_img = v
                                 str_img = ngx.re.sub(str_img, "[%.]webp", ".jpg")
                                 break
                             end
                          end
                          if str_img then
                            str_img = ngx.re.sub(str_img, "/img/", "/img/154x100/")
                            str_img = ngx.re.sub(str_img, "http:", "https:")
                          end
                          local lcount = source.lcount or 0
                      %}
                        <li>
                        <div class="video-item">
                          <a href="/movie/detail/{{v._id}}.html" target="_blank">
                            <div class="video-pic">
                              <img alt="{{source.title}}" src="{*str_img*}">
                              <i class="ftype video"> <span>{{str_cost}}</span> </i>
                            </div>

                            <div class="video-txt">
                                <h4>{{source.title}}</h4>
                                <p>
                                 <span>{{lcount}}资源</span>
                                 <span>⋅{{comment}}评论</span>
                                 <span>⋅{{rate}}评分</span>
                                </p>
                            </div>
                          </a>
                        </div>
                      </li>
                      {%
                      end
                    %}

                  </ul>
              </div>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{*static_host*}/assets/js/movie/home.js?v={{version}}"></script>
<script src="{*static_host*}/assets/js/movie/stream.js?v={{version}}"></script>

{(decorator/footer.html)}