{(decorator/header.html)}

<link rel="canonical" href="{*context.header.canonical*}"/>
<meta name="description" content="{*context.header.description*}"/>
<meta name="keywords" content="{*context.header.keywords*}" />
<meta name="title" content="{*context.header.title*}" />
<!-- <script type="text/javascript" src="{{static_host}}/assets/js/jquery.ajax-cross-origin.min.js?v={{version}}"></script>
 -->
</head>
{# end of head #}

<body>

{(decorator/navbar.html)}
{(decorator/blankbar.html)}

<div class="main data-box">
  <div class="act">
    <div class="container">

      <div class="container-fluid">
        <div class="row">
              <div class="col-md-2"> </div>
              <div class="col-md-6 feedBox"> 
               
               <ul>
 
               {% if not hits or not hits.total or hits.total < 1 then %}
                  <li class="item-box">暂无内容推荐</li>

               {% else
                    for i,v in ipairs(hits.hits) do
                      local source = v._source;
                      local article = source.article;
                      local genres = source.genres;
                      local digests = source.digests;
                      local evaluates = source.evaluates;
                      local rate
                      if evaluates and evaluates[1] then
                           rate = evaluates[1].rate
                      end
                      local str_cost
                      if article.cost then
                         local lcost = article.cost / 60
                         str_cost =  math.modf(lcost) .. ":" .. math.fmod(article.cost, 60 ) .. ":00"
                      end
                      local str_img
                      if digests then
                         for _,v in ipairs(digests) do
                            if v.sort == 'img' then
                               str_img = v.content
                               str_img = ngx.re.sub(str_img, "[%.]webp", ".jpg")
                               break
                            end
                         end
                      end
                  %}
                  <li class="item-box">
                   <div class="item-inner">
                      <div class="lbox">
                        <a class="img-wrap" target="_blank" href="/movie/detail/{{v._id}}.html"> 
                          <img alt="{{article.title}}" src="{{str_img}}" /> 
                          {%if str_cost then%}
                          <i class="ftype video"> <span>{{str_cost}}</span> </i>
                          {%end%}
                        </a> 
                      </div>
                      <div class="rbox ">
                            <div class="rbox-inner"> 
                                <div class="title-box"> 
                                    <a class="atitle" target="_blank" href="/movie/detail/{{v._id}}.html"> {{article.title}}
                                    </a> 
                                </div>
                                <div class="tag-box">
                                 {% if genres then %}
                                    {% for i,v in ipairs(genres) do  %}
                                      {%if i > 3 then%}
                                      {% break;%}
                                      {%end%}
                                      <a target="_blank" class="lbtn-tag tag-size" 
                                      href="/movie/genre/{*string.encodeURI(v)*}.html">{{v}}</a>
                                    {% end  %}
                                  {% end %}
                                  {%if rate then %}
                                  <span class="tag-score tag-size">评分{{rate}}</span>
                                  {%end%}
                                </div>  
                            </div>
                      </div>
                   </div>
                  </li>
                  {%
                    end
                end
               %}
                </ul>
              </div>
              <div class="col-md-4 msgbox"> 
                <div class="playing-head"> 正在热播 </div>
                <ul class="playing-list">
                  {%
                    local playing_movie = context.playing_movie.hits;
                    for _,v in ipairs(playing_movie) do
                        local source = v._source;
                        local article = source.article;
                        local genres = source.genres;
                        local digests = source.digests;
                        local evaluates = source.evaluates;
                        local rate = 0
                        local comment = 0
                        if evaluates and evaluates[1] then
                             rate = evaluates[1].rate
                             comment = evaluates[1].comment
                        end
                        local str_cost
                        if article.cost then
                           local lcost = article.cost / 60
                           str_cost =  math.modf(lcost) .. ":" .. math.fmod(article.cost, 60 ) .. ":00"
                        end
                        local str_img
                        if digests then
                           for _,v in ipairs(digests) do
                              if v.sort == 'img' then
                                 str_img = v.content
                                 str_img = ngx.re.sub(str_img, "[%.]webp", ".jpg")
                                 break
                              end
                           end
                        end
                        local lcount = source.lcount or 0
                    %}
                      <li>
                      <div class="video-item">
                        <a href="/movie/detail/{{v._id}}.html" target="_blank">
                          <div class="video-pic">
                            <img alt="{{article.title}}" src="{{str_img}}">
                            <i class="ftype video"> <span>{{str_cost}}</span> </i>
                          </div>
                          
                          <div class="video-txt"> 
                              <h4>{{article.title}}</h4> 
                              <p> 
                               <span>{{lcount}}资源</span>
                               <span>⋅{{comment}}评论</span> 
                               <span>⋅{{rate}}评分</span>
                              </p> 
                          </div>
                        </a>
                      </div>
                    </li>
                    {%
                    end
                  %}
                
                </ul>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

{(decorator/footer.html)}